<div class="well">
    <h4>Gimba</h4>
</div>

<div ng-app="clientedto">
    <ng-view></ng-view>
</div>
@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/AngularApp/clientedto.js"></script>
    <script src="~/AngularApp/ClienteController.js"></script>
    <script src="~/AngularApp/criarController.js"></script>
    <script src="~/AngularApp/listaController.js"></script>
}